<!DOCTYPE html>
<!--en-한글브라우저에서 한글/영어 번역-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <!--반응형웹-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--스프링부트에 css 색상, 모양-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--부트스트렙에 효과-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!--메뉴시작-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid"> <!--메뉴 방향-->
        <ul class="navbar-nav">   <!--메뉴 구성-->
            <li class="nav-item"> <!--메뉴 항목-->
                <!--href 메핑선언-->
                <!--href 반드시 /부터 시작 active 항상 활성화-->
                <a class="nav-link active" href="#">회사명</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/board/insert">삽입</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/board/list">목록</a>
            </li>
        </ul>
    </div>
</nav>
<!--메뉴끝-->
<!--목록(임시값으로 모양)-->
<div class="container mt-3"><!--m(여백)t(위쪽)b(아래쪽)-->
    <h2>게시판</h2> <!--제목-->
    <!--table(색상,모양) table-hover(효과)-->
    <!-- 표-> 행-> 열-->
    <table class="table table-hover">
        <thead> <!--제목-->
        <tr> <!--행-->
            <th>번호</th> <!--칸-->
            <th>제목</th>
            <th>작성자</th>
            <th>수정시간</th>
            <th>수정일</th>
        </tr>
        </thead>
        <tbody><!--보고싶은 내용 1행만 작업, th=td 갯수 동일하게-->
        <!--사용할 DTO를 참고해서 변수적용-->
        <!--반복처리(list변수명)-->
        <!--for문 시작값~조건을 만족할 때까지 반복(정확한 시점)-->
        <!--forEach문 오브젝트를 하나씩 불러서 더이상 없을 때까지 반복-->
        <!--each(변수:배열(list)) 배열에서 하나씩 불러서 변수에다가 저장-->
        <tr th:each="data:${list}">
            <td th:text="${data.id}"></td>
            <td><!--여러 태그로 구성되어 있을때 가장 안쪽에 태그에 변수를 몰아서 입력-->
                <a th:text="${data.title}" th:href="@{'/board/'+ ${data.id}}"></a>
            </td> <!-상세페이지-->
            <td th:text="${data.writer}"></td>
            <td th:text="${@dateUtil.formatModDate(data.modDate)}"></td>
            <td th:text="${#temporals.format(data.modDate, 'yyyy-MM-dd')}"></td>
            <td><a th:href="@{'/board/update/'+ ${data.id}}">수정</a>
                /<a th:href="@{'/board/delete/' + ${data.id}}">삭제</a></td>
            <!--페이지연결 form, a, button-->
        </tr>
        </tbody>

    </table>
</div>
<!--목록끝-->
<!--검색-->
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6"> <!--검색 추가-->
        <form th:action="@{/board/list}" method="get">
            <div class="input-group mb-3">
                <select class="form-control" name="type"> <!--변수명 name-->
                    <option value="">검색메뉴선택</option>                   <!--value=값, 전체조회-->
                    <option value="s">제목</option>               <!--제목으로 조회-->
                    <option value="c">내용</option>               <!--내용으로 조회-->
                    <option value="w">작성자</option>              <!--작성자로 조회-->
                    <option value="sc">제목+내용</option>          <!--제목,내용으로 조회-->
                    <option value="scw">제목+내용+작성자</option>   <!--제목, 내용, 작성자로 조회-->
                </select>
                <input type="text" class="form-control" name="search" placeholder="검색">
                <button type="submit" class="btn btn-success" >검색</button>
            </div>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>
<!--검색끝-->
<!--페이지번호-->

<!--
pageinfo.put("startPage", startPage);       //[1].... , [<<]
pageinfo.put("endPage", endPage);           //....[10]
pageinfo.put("prevPage", prevPage);         //[<]
pageinfo.put("currentPage", currentPage);   //[3]
pageinfo.put("nextPage", nextPage);         //[>]
pageinfo.put("lastPage", lastPage);         //[>>]
-->

<ul class="pagination justify-content-center" >
    <!--현재 1페이지이면 출력하지 않는다.-->
    <li class="page-item" th:unless="${startPage==1}">
        <a class="page-link" th:href="@{/board/list(page=1)}"><<</a>
    </li>
    <!-- 앞페이지 이동(1페이지면 이동할 앞페이지가 존재하지 않는다..)-->
    <li class="page-item" th:unless="${currentPage==1}">
        <a class="page-link" th:href="@{/board/list(page=${prevPage})}"><</a>
    </li>
    <!--페이지번호를 출력하는 부분, 반복문을 이용해서 지정된 개수만큼 출력-->
    <!--일반 for문 number.sequence(순차반복)(시작, 끝값, 증가값)-->
    <span th:each="page:${#numbers.sequence(startPage, endPage, 1)}">
        <!--현재페이지가 아니면 비활성 페이지번호를 출력-->
        <li class="page-item" th:unless="${page==currentPage}"> <!--화면에 출력할 페이지번호-->
        <a class="page-link" th:href="@{/board/list(page=${page})}">[[${page}]]</a>
        </li>
        <!--현재페이지가 맞으면 활성화 페이지번호를 출력-->
        <li class="page-item active" th:if="${page==currentPage}"> <!--현재 페이지 번호-->
        <a class="page-link" th:href="@{/board/list(page=${page})}">[[${page}]]</a>
        </li>
    </span>
    <!-- 뒤페이지이동(현재 페이지가 마지막이면 다음페이지가 없음-->
    <li class="page-item" th:unless="${currentPage==lastPage}">
        <a class="page-link" th:href="@{/board/list(page=${nextPage})}">></a>
    </li>
    <!--화면에 마지막페이지번호와 전체페이지번호가 같으면-->
    <li class="page-item" th:unless="${endPage==lastPage}">
        <a class="page-link" th:href="@{/board/list(page=${lastPage})}">>></a>
    </li>
</ul>
<!--페이지번호끝-->
<!--modal-->
<!--javascript-->
</body>
</html>